#chat-screen {
    background-color: #abc1d1;
    height: 300vh;
  }
  #chat-screen .alt-header,
  #chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
  }
  #chat-screen .status-bar {
    z-index: 2;
  }
  #chat-screen .alt-header {
    top: 10px;
    z-index: 1;
  }
  .main-chat {
    margin-top: 150px;
  }
  .main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    font-size: 14px;
    border-radius: 25px;
    margin-bottom: 25px;
  }
  
  .message-row {
    width: 100%;
    display: flex;
  }

  .message-row__to-me {
    animation: fadeInMessageBoxLeft 1s ease-in-out forwards;
  }

  .message-row__from-me {
      justify-content: flex-end;
      animation: fadeInMessageBoxRight 1s ease-in-out forwards;
      animation-delay: 1s;
      opacity: 0;
  }
  
  .message-row img {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
  }
  
  .message__author {
    margin-bottom: 5px;
    display: block;
  }
  
  .message__info {
    display: flex;
    align-items: flex-end;
  }

  
  .message__bubble {
    padding: 13px;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 5px;
  }
  
  .message__bubble__to-me {
    background-color: white;   
    border-top-left-radius: 0px;
  }

  .message__bubble__from-me {
      margin-left: 5px;
      margin-right: 15px;
      background-color: var(--yellow);
      border-top-right-radius: 0px;
  }

  .message__time,
  .message__author {
    opacity: 0.8;
    font-size: 14px;
  }

  .message-row__from-me .message__info 
  {
      flex-direction: row-reverse;
  }

  .message-input {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 10px 25px;
      box-sizing: border-box;
  }

  .message-input__column:first-child {
    width: 10%;
  }

  .message-input__column:last-child {
    position: relative;
    width: 90%;
  }

  .message-input input {
      height: 40px;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 20px;
  }

  .message-input i {
      opacity: 50%;
  }

  .message-input__column:last-child > i,
  .message-input__column:last-child button {
      position: absolute;
      right: 0;
      top: 15px;
  }

  .message-input__column:last-child > i {
      right: 40px;
  }

  .message-input__column:last-child button {
      top: 7px;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: var(--yellow);
  }

  .message-input__column button i {
      opacity: 1;
  }

  .message-input__column button:active {
    outline: none;
  }

  .message-input__column button:focus {
    outline: none;
  }

  .message-input__column input {
      padding-left: 10px;
  }

  @keyframes fadeInMessageBoxLeft {
      from {
        transform: translateX(-60px);
        opacity: 0;
      }
      to {
        transform: none;
        opacity: 1;
      }
  }

  @keyframes fadeInMessageBoxRight {
    from {
      transform: translateX(60px);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
}